
<div class="container text-center">
  <% if current_user.admin? %>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
      
        <tbody>
            <% @treatment.each do |treatment| %>
            <tr>
                <td><%= treatment.name %></td>
                <td><%= link_to 'Show', treatment, class: "btn btn-info" %>
                <td><%= link_to 'Edit', edit_treatment_path(treatment), class: "btn btn-warning"%></td>
                <td><%= link_to 'Delete this treatment', treatment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%></td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <br>
    <%= link_to "Create New Treatment", new_treatment_path, class: "btn btn-success" %><br><br>
   
  <% elsif current_user.patient? %>
    <h2>Available Treatments</h2>
    <% @treatments.each do |treatment| %>
        <% if treatment.users.onboard.count > 0 %>
            <%= treatment.name %>
            <%= link_to 'Request appointment ', selectedtreatment_path(treatment), class: "btn btn-success" %><br><br>
        <% end %>
    <% end %>
  <% end %>

</div>