<br>
<div class="container">
    <h2>Pending requests</h2>
    <% if @pend_requests.count > 0 %>
        <% @pend_requests.each do |req| %>
            <%= req.user.name %><br>
            <%= req.user.hospital.name %><br>
            <%= req.user.treatment.name %><br><br>
        <% end %>
    <% else %>
        <p> No pending requests </p>
    <% end %>
    <hr>

    <h2> Accepted requests </h2>
    <% if @acpt_requests.count > 0 %>
        <% @acpt_requests.each do |req| %>
            <%= req.user.name %><br>
            <%= req.user.hospital.name %><br>
            <%= req.user.treatment.name %><br><br>
        <% end %>
    <% else %>
        <p> No accepted requests </p>
    <% end %>
    <hr>

    <h2> Rejected requests </h2>
    <% if @rejc_requests.count > 0 %>
        <% @rejc_requests.each do |req| %>
            <%= req.user.name %><br>
            <%= req.user.hospital.name %><br>
            <%= req.user.treatment.name %><br><br>
        <% end %><br><br>
    <% else %>
        <p> No rejected requests </p>
    <% end %>

    <%= link_to 'Back to Homepage', homepage_path %>
</div>