<br><br>
<div class="container text-center">
    <% if @hts.count > 0 %>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Hospital Name</th>
                <th>Doctor Name</th>
                <th>Price</th>
            </tr>
            </thead>
        
        <tbody>
        <% @hts.each do |ht| %>
            <% docs = User.where(hospital_id: ht.hospital.id, treatment_id: ht.treatment.id) %>
            <% docs.each do |doc| %>
            <tr>
                <td><%= ht.hospital.name %></td>
                <td><%= doc.name %></td>
                <td><%= ht.price %></td>
                <td><%= link_to 'Send an appointment request', appointment_path(doc), class: "btn btn-success" %></td>
            </tr>
            <% end %>
        <% end %>
        </tbody>
        </table>
        
    <% else %>
        <h3> This treatment is not being offered in any hospital </h3>
    <% end %>

    <br>
    <%= link_to 'Back to treatments', patient_path %>
</div>