<div class="container">
    <h2> Assigining a doctor to a hospital </h2>


    <% tr = @hospital.treatments %>
    <% if tr.count > 0 %>
        <% dr = User.doctor.where(hospital_id: nil) + User.doctor.where(treatment_id: nil) %>
        <% if dr.count > 0 %>
            <%= form_for :User do |form| %>
                <div>
                    <%= form.label :doctor %>
                    <%= form.select(:doctor_id, dr.pluck(:name, :id)) %>    
                </div><br>

                <div>
                    <%= form.label :treatment %>
                    <%= form.select(:treatment_id, tr.pluck(:name, :id)) %>
                </div><br>

                <div>
                    <%= form.submit "Assign doctor" %>
                </div>
            <% end %>
        <% else %>
            <h3>No pending doctors are available</h3>
        <% end %><br>

    <% else %>
        <h3>Hospital offer no treatments, So No Doctor can be assigned</h3>
    <% end %>


    <%= link_to 'Back to hospitals', hospitals_path %>
</div>